body {
  font-size: 10pt;
  margin: 5px;
}

#torrents tbody tr td {
  vertical-align: middle;
}

.col-center {
  text-align: center;
}

.ui-progressbar {
  position: relative;
}

.ui-progressbar-label {
  line-height: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

label, input[type=text] {
  display: block;
}

input[type=text] {
  margin-bottom: 15px;
  width: 100%;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 481px) {
  .tab-image {
    display: none;
  }
  .tab-title {
    display: inline;
  }
}
